# Blockchain
POLYGON_RPC_URL=https://polygon-amoy.g.alchemy.com/v2/YOUR_ALCHEMY_API_KEY
PRIVATE_KEY=your_wallet_private_key_here

# Django
SECRET_KEY=django-insecure-some-random-key
DEBUG=True
DATABASE_URL=sqlite:///db.sqlite3

# Smart Contract
CONTRACT_ADDRESS=
